body {
  background-color: rgb(236, 218, 252);
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  text-decoration: underline;
}

h2 {
  text-align: center;
  font-weight: 500;
}

footer {
  text-align: center;
}
